<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="{{site.baseurl}}/assets/img/Daniel.jpg" alt="{{site.name}}">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/{{site.gplus_username}}/posts">Daniel da Cunha Bueno</a>
        </h3>
        <p class="desc">Desenvolvedor e Socio da BSource</p>
        <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
</section>
